<!DOCTYPE html>
<html class="no-js">
    <head>
        <!-- Basic Page Needs -->
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="icon" type="image/ico" href="/images/favicon.ico">

        <!-- Title -->
        <title>Jeffrey Alan Barrasso</title>

        <!-- Basic Information -->
        <meta name="description" content="My website">
        <meta name="keywords" content="">
        <meta name="author" content="Jeffrey Alan Barrasso">

        <!-- Mobile Specific -->
        <meta name="format-detection" content="telephone=no">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- 
        ===========================================
                    Template CSS Files 
        ===========================================
        -->
        <!-- Twitter Bootstrs CSS -->
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <!-- Animate css -->
        <link rel="stylesheet" href="css/animate.css">
        <!-- Slider css-->
        <link rel="stylesheet" href="css/slider.css">
        <!-- Ionicons Fonts Css -->
        <link rel="stylesheet" href="css/ionicons.min.css">
        <!-- Owl carousel css -->
        <link rel="stylesheet" href="css/owl.carousel.css">
        <link rel="stylesheet" href="css/owl.theme.css">
        <link rel="stylesheet" href="css/jquery.fancybox.css">
        <!-- Responsive css -->
        <link rel="stylesheet" href="css/responsive.css">
        <!-- Template main css file -->
        <link rel="stylesheet" href="css/main.css">
        <!-- 
        ============================================
                Template Javascript Files
        ============================================
        -->
        <!-- JQuery -->
        <script src="js/jquery-2.1.1.min.js"></script>
        <!-- Scrolling JQuery sections js -->
        <script src="js/functions.js"></script>
        <!-- Easing JQuery plugin -->
        <script src="js/jquery.easing.min.js"></script>
        <!-- Modernizr js -->
        <script src="js/vendor/modernizr-2.6.2.min.js"></script>
        <!-- Jquery -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <!-- Owl carouserl js -->
        <script src="js/owl.carousel.min.js"></script>
        <!-- Bootstrap js -->
        <script src="js/bootstrap.min.js"></script>
        <!-- Wow js -->
        <script src="js/wow.min.js"></script>
        <!-- Slider js -->
        <script src="js/slider.js"></script>
        <script src="js/jquery.fancybox.js"></script>
        <!-- Template main js -->
        <script src="js/main.js"></script>
    </head>
    <body>
        <!--
        ==================================================
                        Navigation Bar
        ================================================== 
        -->
        <header id="top-bar" class="navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <!-- responsive nav button -->
                    <button type="button" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- /responsive nav button -->
                    <!-- Signature -->
                    <div class="navbar-brand">
                         <li><a href="#home" style="padding-top:0px; margin-top:0px;"><img src="images/signature.png" alt=""></a></li>                 
                    </div>
                    <!-- /Signature -->
                </div>
                <!-- Main Menu -->
                <nav class="collapse navbar-collapse navbar-right" role="navigation">
                    <div class="main-menu">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="active"><a href="#home" >Home</a></li>
                            <li><a href="#bio">Bio</a></li>
                            <li><a href="#works">Works</a></li>
                            <li><a href="#contact">Contact</a></li>
                        </ul>
                    </div>
                </nav>
                <!-- /Main Menu -->
            </div>
        </header>
        <!--
        ==================================================
                         Home Section
        ================================================== 
        -->
        <section id="home" style="background-color: #272820; overflow:scroll" >
                <pre id="typewriter" style="background-color: #272820; display:table; padding: 0px 0px 0px 0px; margin: 0px 0px 0px 100px; height: 350px; width: 560px; border: none; border-radius: 0px;">
                    <span class="var-highlight" style="">var</span> engineer <span class="equal-highlight">=</span> {
    firstName: <span class="string-highlight" style="">'Jeff'</span>,
    lastName: <span class="string-highlight">'Barrasso'</span>,
    location: <span class="string-highlight">'San Jose, California'</span>,
    titles:[<span class="string-highlight">'Mechanical Engineer'</span>,
            <span class="string-highlight">'Developer'</span>,
            <span class="string-highlight">'Artist'</span>,
            <span class="string-highlight">'Son'</span>,
            <span class="string-highlight">'Brother'</span>];
};;</pre>

        </section>
        <!--
        ==================================================
                          Bio Section
        ==================================================
        -->
        <section id="bio">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration=".5s">
                            <h2 style="text-align: center">
                                BIO
                            </h2>
                            <p style="font-size: 18px; text-align: center">
                                Born and raised in New York. <br>
                                Educated in Boston. <br>
                                Pursuing a career in California. <br>
                            </p>
                            <p style="font-size: 18px">
                                At any given time, most likely: immersing myself in the latest technologies, studying guitar, watching short films, making art, reading, driving high-performance cars on track, enjoying video games, or off somewhere making things happen.
                            </p>

                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6">
                        <div class="block wow fadeInRight" data-wow-delay=".3s" data-wow-duration=".5s">
                            <img src="images/profpic.jpeg" class="profpic" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--
        ==================================================
                      Latest Works Section
        ==================================================
        -->
        <section id="works" class="works">
            <div class="container">
                <div class="section-heading">
                    <h1 class="title wow fadeInDown" data-wow-delay=".3s">Latest Works</h1>
                        <p class="wow fadeInDown" data-wow-delay=".5s" style="color: black; font-size: 18px">
                            Here are some projects I've worked on in the last few years.<br> 
                        </p>
                </div>
                
                <div class="row">
                    <div class="col-sm-4 col-xs-12">
                        <figure class="wow fadeInLeft animated portfolio-item" data-wow-duration="500ms" data-wow-delay="0ms">
                            <div class="img-wrapper">
                                <img src="images/portfolio/SC1.jpg" class="img-responsive" alt="">
                                <img src="images/portfolio/SC2.jpg" class="img-responsive" alt="">
                                <img src="images/portfolio/SC3.jpg" class="img-responsive" alt="">
                                    <div class="overlay">
                                        <div class="buttons">
                                            <a rel="SC" class="fancybox" href="images/portfolio/SC1.jpg" title="<h3>Donate to any cause around the world instantaneously. Powered by the Ethereum platform, this Truffle-integrated Smart Contract utilizes the power of blockchain technology to ensure a quick, transparent, and reliable way to send funds to those in need. <em> Non-profit - 100% of the proceeds go towards cause.</em></h3><h4>Image 1 of 3</h4>">Details</a>
                                            <a rel="SC" class="fancybox" href="images/portfolio/SC2.jpg" title="<h3>Donate to any cause around the world instantaneously. Powered by the Ethereum platform, this Truffle-integrated Smart Contract utilizes the power of blockchain technology to ensure a quick, transparent, and reliable way to send funds to those in need. <em> Non-profit - 100% of the proceeds go towards cause.</em></h3><h4>Image 2 of 3</h4>"></a>
                                            <a rel="SC" class="fancybox" href="images/portfolio/SC3.jpg" title="<h3>Donate to any cause around the world instantaneously. Powered by the Ethereum platform, this Truffle-integrated Smart Contract utilizes the power of blockchain technology to ensure a quick, transparent, and reliable way to send funds to those in need. <em> Non-profit - 100% of the proceeds go towards cause.</em></h3><h4>Image 3 of 3</h4>"></a>
                                        </div>
                                    </div>
                            </div>
                            
                            <figcaption>
                                <h4 style="text-align: center">
                                    Eth Relief
                                </h4>
                                <p style="text-align: center; padding-left: 0px; margin-left: 0px">
                                    A reliable way to help those in need
                                </p>
                            </figcaption>
                        </figure>
                    </div>
                    
                    <div class="col-sm-4 col-xs-12">
                        <figure class="wow fadeInLeft animated" data-wow-duration="500ms" data-wow-delay="300ms">
                            <div class="img-wrapper">
                                <img src="images/portfolio/ERT2.jpg" class="img-responsive" alt="">
                                <img src="images/portfolio/ERT3.jpg" class="img-responsive" alt="">
                                <img src="images/portfolio/ERT1.jpg" class="img-responsive" alt="">
                                    <div class="overlay">
                                        <div class="buttons">
                                            <a rel="ERT" class="fancybox" href="images/portfolio/ERT2.jpg" title="<h3>The motivation for designing this ERT was to capture to unused energy ejected from a reverse osmosis desalination plant. Conceptualized for efficiency, the proposed design utilizes a motor-pelton wheel couple to harness the energy flow from the brackish water of the RO system. </h3><h4>Image 1 of 3</h4>">Details</a>
                                            <a rel="ERT" class="fancybox" href="images/portfolio/ERT3.jpg" title="<h3>When installed, the unit's motor consumes electricity from the power grid as a jump-start, but while in operation, the energy created from the turbine acts as a regenerative method of power returned back into the system to help run itself. </h3><h4>Image 2 of 3</h4>"></a>
                                            <a rel="ERT" class="fancybox" href="images/portfolio/ERT1.jpg" title="<h3>Designs like these represent the value of preserving energy. The end result is a notable increase in efficiency of the complete system, saving (on average) thousands of dollars per year, as well as reducing the carbon footprint.</h3><h4>Image 3 of 3</h4>"></a>
                                        </div>
                                    </div>
                            </div>
                            
                            <figcaption>
                                <h4 style="text-align: center">
                                    Energy Recover Turbine
                                </h4>
                                <p style="text-align: center">
                                    BU Senior Design Project
                                </p>
                            </figcaption>
                        </figure>
                    </div>
                    
                    <div class="col-sm-4 col-xs-12">
                        <figure class="wow fadeInLeft animated" data-wow-duration="500ms" data-wow-delay="300ms">
                            <div class="img-wrapper">
                                <img src="images/portfolio/AGF1.jpg" class="img-responsive" alt="" >
                                <img src="images/portfolio/AGF2.jpg" class="img-responsive" alt="">
                                <img src="images/portfolio/AGF3.jpg" class="img-responsive" alt="">
                                    <div class="overlay">
                                        <div class="buttons">
                                            <a rel="AGF" class="fancybox" href="images/portfolio/AGF1.jpg" title="<h3>When asked the question, 'How can we improve the traditional guitar manufacturing process?', our engineering team came up with this idea.</h3><h4>Image 1 of 3</h4>">Details</a>
                                            <a rel="AGF" class="fancybox" href="images/portfolio/AGF2.jpg" title="<h3>The idea of implementing automation to such a traditional method of manufacturing was driven by the motivation to: eliminate human error, reduce costs spent, and to save valuable time - all without compromising quality. </h3><h4>Image 2 of 3</h4>"></a>
                                            <a rel="AGF" class="fancybox" href="images/portfolio/AGF3.jpg" title="<h3></h3><h4>Image 3 of 3</h4>"></a>
                                        </div>
                                    </div>
                            </div>
                            
                            <figcaption>
                                <h4 style="text-align: center">
                                    Automated Guitar Body Fabricator
                                </h4>
                                <p style="text-align: center">
                                    BU Senior Design Project
                                </p>
                            </figcaption>
                        </figure>
                    </div>
                    
                    <div class="col-sm-4 col-xs-12">
                        <figure class="wow fadeInLeft animated" data-wow-duration="500ms" data-wow-delay="600ms">
                            <div class="img-wrapper">
                                <img src="images/portfolio/NFC1.jpg" class="img-responsive" alt="">
                                <img src="images/portfolio/NFC1.jpg" class="img-responsive" alt="">
                                <img src="images/portfolio/NFC1.jpg" class="img-responsive" alt="">
                                    <div class="overlay">
                                        <div class="buttons">
                                            <a rel="NFC" class="fancybox" href="images/portfolio/NFC1.jpg" title="<h3>Built in Android Studio, this app lets you automate everyday tasks like turning WiFi/Bluetooth on or off, setting alarms, and turning room lights on or off with the simple tap of a phone. </h3><h4>Image 1 of 1</h4>">Details</a>
                                        </div>
                                    </div>
                            </div>
                            
                            <figcaption>
                                <h4 style="text-align: center">
                                    NFC.me
                                </h4>
                                <p style="text-align: center">
                                    Automate your home with your phone
                                </p>
                            </figcaption>
                        </figure>
                    </div>
                    
                    <div class="col-sm-4 col-xs-12">
                        <figure class="wow fadeInLeft animated" data-wow-duration="500ms" data-wow-delay="900ms">
                            <div class="img-wrapper">
                                <img src="images/portfolio/Emoji1.jpg" class="img-responsive" alt="">
                                <img src="images/portfolio/Emoji1.jpg" class="img-responsive" alt="">
                                <img src="images/portfolio/Emoji1.jpg" class="img-responsive" alt="">
                                    <div class="overlay">
                                        <div class="buttons">
                                            <a rel="Emoji" class="fancybox" href="images/portfolio/Emoji1.jpg" title="<h3> Play as Smiley in this mobile iOS side-scroller. Face-off against your other beloved emojis to surpass each level. Only the strongest emoji will survive. </h3><h4>Image 1 of 1</h4>">Details</a>
                                        </div>
                                    </div>
                            </div>
                            
                            <figcaption>
                                <h4 style="text-align: center">
                                    Smiley's Adventure
                                </h4>
                                <p style="text-align: center">
                                    An RPG-styled iOS mobile game
                                </p>
                            </figcaption>
                        </figure>
                    </div>
                    
                    <div class="col-sm-4 col-xs-12">
                        <figure class="wow fadeInLeft animated" data-wow-duration="500ms" data-wow-delay="1200ms">
                            <div class="img-wrapper">
                                <img src="images/portfolio/cityblock.jpg" class="img-responsive" alt="">
                                <img src="images/portfolio/heisenberg.jpg" class="img-responsive" alt="">
                                <img src="images/portfolio/autumn.jpg" class="img-responsive" alt="">
                                    <div class="overlay">
                                        <div class="buttons">
                                            <a rel="Art" class="fancybox" href="images/portfolio/cityblock.jpg" title="<h3 style='text-align:center'>City block. 8&quot; x 6&quot;. Charcoal & Conte.</h3><h4>Image 1 of 3</h4>">Details</a>
                                            <a rel="Art" class="fancybox" href="images/portfolio/heisenberg.jpg" title="<h3 style='text-align:center'>Heisenberg. 12&quot; x 24&quot;. Charcoal & Conte.</h3><h4>Image 2 of 3</h4>"></a>
                                            <a rel="Art" class="fancybox" href="images/portfolio/autumn.jpg" title="<h3 style='text-align:center'>Autumn. 986 x 459. Graffiti app. </h3><h4>Image 3 of 3</h4>"></a>
                                        </div>
                                    </div>
                            </div>
                            
                            <figcaption>
                                <h4 style="text-align: center">
                                    Collection
                                </h4>
                                <p style="text-align: center">
                                    A handful of art work 
                                </p>
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>
        </section>
        <!--
        ==================================================
                        Contact Section
        ==================================================
        -->
        <section id="contact">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="block">
                            <h2 class="title wow fadeInDown" data-wow-delay=".3s" data-wow-duration="500ms">Get in touch
                            </h2>
                            <p class="wow fadeInDown" data-wow-delay=".5s" data-wow-duration="500ms">       For coffee, collaborations, or for just saying hey. 
                            <br>
                            <br>
                            </p>
                            <div class="inline-block">
                                <ul class="social">
                                    <a href="mailto:jeffbarrasso@yahoo.com"> @ </a>
                                    <a href="https://github.com/jbarrasso" class="Github" target="_blank">
                                        <i class="ion-social-github"></i>
                                    </a>
                                    <a href="https://twitter.com/a_young_jefe" class="Twitter" target="_blank">
                                        <i class="ion-social-twitter"></i>
                                    </a>
                                    <a href="https://www.linkedin.com/in/jeffreybarrasso/" class="Linkedin" target="_blank">
                                        <i class="ion-social-linkedin"></i>
                                    </a>
                                </ul>
                            </div>
                        </div>
                    </div>    
                </div>
            </div>
        </section>
        <!--
        ==================================================
                         Footer Section
        ==================================================
        -->
        <footer id="footer">
            <div class="container">
                <div class="col-md-8">
                    <p class="copyright">Copyright: 
                        <span>2017</span>. Designed and developed by Jeffrey Alan Barrasso. All Rights Reserved.
                    </p>
                </div> 
            </div>
        </footer>
    <script src="js/typewriter.js"></script>
    </body>
</html>